*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    max-width: 1400px;
    padding: 10px;
    background: linear-gradient(to left , rgb(185, 182, 182),rgb(209, 209, 192));
}
.nav{
    background-color: black;
     display: flex;
    flex-direction: row;
}
/* using display inline block property */
/* .nav-item{
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
} */
 .nav-item{
    padding: 20px 30px;
    text-align: center;
   
}
.nav-item a{
    color: white;
    text-decoration: none;
}
.nav-item:hover{
    background-color: gray;
}

.hero-div{
    position: relative;
    top: 5px;
    height: 500px;
    width: 100%;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.hero-div h1{
      font-size: 4em;
     color: white;
     text-shadow: 3px 3px 5px black;
}
.four{
    display: flex;
    gap: 10px;
    flex-direction: row;
    
}
.box{
    height: 250px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px white;
    padding: 10px;
    overflow: hidden;
}
.box img{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.productCatlog{
    height: auto;
    width: 100%;
    
    margin-top: 10px;
}
.productCatlog h1{
      font-size: 4em;
     color: black;
     text-shadow: 3px 3px 5px gray;
     text-align: center;
}
.service{
    display: flex;
    overflow: auto;
    scrollbar-width:thin;
    gap: 30px;
}
.service img{
    height: 150px;
    width: 150px;
}
.probox{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
}
.probox p{
    margin-top: 20px;
    display: none;
 }

 .about-div{
     height: auto;
    width: 100%;
    margin-top: 50px;
 }

 .about-div h1{
      font-size: 4em;
     color: red;
     text-shadow: 3px 3px 5px gray;
     text-align: center;
}

.about-div {
    display:  flex;
    justify-content: space-around;
    gap: 50px;
}
.img-section{
    height: 400px;
    display: flex;
    gap:5px;
    align-items: flex-start;
}
.img-section img{
    max-width: 300px;
    height: 350px;
}
#img2{
    align-self: flex-end;
}
.footer{
    margin-top: 50px;
    padding: 20px;
    background-image:url("back.jpg");
}
.content{
    height: 300px;
    align-items: center;
display: flex;
justify-content: space-around;
gap: 30px;

}
.first1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.first1 h2{
     color: rgb(19, 18, 18);
     border-bottom: 1px solid white;
}
.first1 a{
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-weight: 600;
}
.footer h3{
    text-align: center;
}
.footer form{
    background-color: transparent;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 10px;
}
.form-row{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.form-row input[type="text"]{
    padding:2px ;
    background-color: transparent;
    border-radius: 10px;
}
.form-row input[type="submit"]{
    padding:2px ;
    background-color: black;
    color: white;
    border-radius: 10px;
}