*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    height: 80px;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    font-size: 35px;
    color: white;
    padding: 0px 200px;
    font-weight: bolder;
}
.navbar ul{
    display: flex;
    padding-right: 100px;
}
.navbar ul li{
    padding: 0px 20px;
}
.navbar ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}